.nikola {
    transition: transform 0.1s ease;
  }
  
  .nikola:active {
    transform: scale(1.06);
  }
  
  /* Стили для частицы */
  .particle {
    width: 30px; /* Размер частицы */
    height: 30px;
    pointer-events: none;
    animation: flyToClick 1s ease-out forwards;
    opacity: 1;
  }
  
  .gun {
    width: 200px;
    bottom: 10px;
    right: 300px;
    position: absolute;
    transform: rotate(30deg);
  }
  
  /* Анимация движения частицы к месту клика */
  @keyframes flyToClick {
    to {
      transform: translate(var(--targetX), var(--targetY));
    }

  }